@font-face{
    font-family: "Altero";
    src: url("font/Altero.otf");
}

@font-face{
    font-family: "Apercu";
    src: url("font/Apercu");
}



.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(124, 0, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    transition: opacity 0.5s ease;
    flex-direction: column;
    padding-bottom: 30vh;
}

.preload img{
    
    width: 30vw;  
    height: auto; 
    margin: 0 auto; 
    
    position: relative;
    bottom: 5vh;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.preload-finish{
    opacity: 0;
    pointer-events: none;
}


section{
    display: flex;
    height: 100vh;
    justify-content: center;
}

body{
    margin: 0;
    height: 100vh;
    
    background-color: #FFAE02;

    overflow-x: hidden;
}


img{
    height: auto;
    width: 100%;
}

h2, h1, h3, button, h4{
    font-family: 'Altero';
    font-weight: 300;
    text-transform: uppercase;
}

p, footer a{
    font-family: 'Apercu';
    color: rgb(173, 173, 173);
    word-spacing: 2%;
    margin: 0;
}

.attribution{ color: rgb(68, 68, 68) !important; }

h2{font-size: 2vw; line-height: 3.5vw;}

h1{font-size: 3.5vw; line-height: 6vw; margin: 0}

h3{ font-size: 1.5vw;}

h4{font-size: 6vw; line-height: 8vw; margin: 0 2vw;}

button{
    height: 3.5vw;    
    background-color: transparent;
    border: 0.2vw solid black;
    border-radius: 80px;
    font-size: 1.1vw;
    padding-bottom: 0.2vw;
    cursor: pointer;
}

input[type="text"]{
    height: 3vw;    
    border: 0.2vw solid black;
    border-radius: 80px;
    font-size: 1.1vw;
    padding-left: 1vw;
    font-family: Arial, sans-serif;
}

button:hover, input[type="text"]:focus{
    box-shadow: 0px 0.5vw 1vw 0 rgba(0,0,0,0.44);
    outline: none;
}

button:focus{
    outline: none;
}

i:hover{
    box-shadow: 0.25vw 0.25vw 0.35vw 0 rgba(0,0,0,0.34);
}

::placeholder{
    font-style: italic;
}


.sectionContents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 11vw;
    width: auto !important;
}

.text-center{
    text-align: center;
    flex-direction: column;
    margin: 0 15vw;
}



#navbar{
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0px;
    transition: top 0.25s ease-in;
    display: grid;
    align-items: center;
    padding: 0 1vw;
    z-index: 1;
    height: 17vh;
    width: 96vw;
}

.show {
    top: 0px !important;
}

.hide{
    top: -20vh !important;
}
  
#navbar a{
    font-family: "altero";
    font-weight: 100;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1vw;
}


#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    justify-content: center;
    grid-template-columns: 8% 8% 8% 8% 36% 8% 8% 8% 8% ;
}

.navbarLinkText{
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
}



#loginListItem{
    grid-column: 9;
}



.navbarLogo img{
    width: 17vw;
    bottom: 1vw;
    position: relative;
}

.navbarLink a:hover {
    color: red;
}

.active:hover{
    color: rgb(145, 145, 145) !important;
}

.active {
    mix-blend-mode: difference;
    text-shadow: 0.15vw 0.15vw 0 red;
}

header{
    height: 100vh;
    display: grid;
    grid-template-rows: 100%;
    position: relative;

    padding-bottom: 10vw;
}

footer{
    background-color: rgb(10, 10, 10);
    padding: 1vw 2vw ;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlap-contents * {
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

.overlap-contents{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#compassImg{
    transform: rotate(-50deg);
    width: 20vw !important;
    left: 5vw;
    bottom: 8vh;
    z-index: 1;
}

#map2Img{
    transform: rotate(20deg);
    width: 40vw !important;
    left: 78vw;
    bottom: 10vh;
    z-index: 1;
}

#glassImg{
    transform: rotate(40deg);
    width: 40vw !important;
    left: 70vw;
    top: 5vw;
    z-index: 1;
}

#mapImg{
    transform: rotate(300deg);
    width: 60vw !important;
    right: 20vw;
    bottom: 5vw;
}

#bookImg{
    transform: rotate(30deg);
    width: 50vw !important;
    right: 25vw;
    top: 25vh;
    z-index: -1;
}

#endImgLogoBox{
    display: flex;
    justify-content: center;
}



#headerImgBox, #endImgBox{
    z-index: -2;
    position: absolute;
    width: 100vw;
}



#headingAndButtonsBox{
    margin-top: 12vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 3fr 1fr 1fr;
    margin-bottom: 12vw;
    text-align: center;
}

#headingAndButtonsBox h4{
    width: 60vw;
    animation: fadeInUp 1s ease-out forwards;
}


#headingAndButtonsBox h2{
    animation: fadeInUp 1s ease-out 0.5s forwards;
    opacity: 0;
}

#buttonBox{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10vw 1vw;
    grid-gap: 2vw;
    animation: fadeInUp 1s ease-out 0.5s forwards;
    opacity: 0;
}

#icons{
    position: absolute;
}

#icons img{
 position: relative;
 bottom: 0.35vw;
 width: 2.5vw;
}
#searchIcon{
    left: 28vw;
    cursor: pointer;
}

#locationIcon{
    left: 49vw;
    z-index: -2;
}


/*-------------------------------grid photos ----------------------------*/

.grid-item{
    width: 10%;
    margin-top: -1vw;
    margin-bottom: -1vw;
}

.--width2{
	width: 20%
}

.--width3{
	width: 40%;
}

.--width4{
	width: 30%;
}



#photoGalleryGridBox{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 10vw;
    text-align: center;
    width: 100%;
}

#photoGalleryGrid{
	display:flex;
	justify-content: center;
    z-index: 0;
    width: 80%;
    margin: 0 auto;
}

#photoGalleryText{
    color: aquamarine;
    z-index: 1;
    mix-blend-mode: difference;
    text-shadow: 0 0 0 rgb(255, 0, 235);
}

#gallerySection{
    height: auto !important;
}

#searchBox{
    margin-top: 3vw;
}

#learnFastFashion h4{
    color: #bb61ff;

}

#learnFastFashion h2{
    width: 50vw;
    color: #bb61ff;
    margin-top: 3vw;
}

#learnFastFashion button{
    margin-top: 3vw;
    width: 20vw;
}

#learnImages{
    position: absolute;
    z-index: -5;
}

#learnImages img{
    position: relative;
}

#earthImg{
    width: 40vw;
    bottom: 3vw;
    right: 35vw;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#shirtImg{
    width: 35vw;
    top: 10vw;
    left: 35vw;
    transform: rotate(-10deg);
}
#jeansImg{
    width: 30vw;
    top: 15vw;
    left: 43vw;
    transform: rotate(20deg);
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}